[entryPoints]

  [entryPoints.traefik]
  address = ":8443"

  [entryPoints.traefik.auth.basic]
  users = ["{{ traefik_api_auth_user }}"]

  [entryPoints.traefik.tls]
    [[entryPoints.traefik.tls.certificates]]
      certFile = "/etc/traefik/tls/default.crt"
      keyFile = "/etc/traefik/tls/default.key"